* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #101010;
    color: black;
}

#header {
    width: 100%;
    height: 100vh;
}
.container{
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40%;
    flex-wrap: wrap;
}

.logo {
    color: white;
    float: left;
    position: relative;
    margin: 10px 15px 15px 10px;
}

.logo span {
    color: red;
    margin-left: -2%;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: rgb(139, 135, 210);
    background: red;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.contact {
    background: black;
    width: 100%;
    margin-top: 5%;
 }
 
  .contact form{
    text-align: center;
    max-width: 50rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
    color: red;
  }
 
  .contact form input,
  .contact form textarea{
    width: 100%;
    color: black;
    background: white;
    margin-bottom: .8rem;
    border: none;
    border-radius: 5px;
    padding: .7rem;
 
  }
  .contact h2{
    color: red;
    padding-left: 42%;
    font-size: 45px;
  }
 
  .contact form textarea{
    resize:none ;
    color: red;
  }
 
  .formBtn{
    display: flex;
    justify-content:center;
    width: 100%;
  }
 
  .formBtn .btn{
    cursor: pointer;
    font-size: 1rem;
  }
 
  .social-icons a{
    display:inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items:center;
    background-color:  transparent ;
    
    border: 20% white ;
    font-size: 5px;
    transition: .8s;
   
    border-radius: 50%;
    text-decoration: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 30px 15px 30px 0;
    margin-left: 178px;
    
 
 }
 
 .social-icons a i{
    font-size: 1.5rem;
 }
 
 
  /* footer************************ */
 
  footer {
      padding :1.5rem 10%;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
 
  footer p{
    color: #bdbdbd;
 
  }
  footer a{
    display: inline-flex;
    justify-content: center;
    color: var(--text-color);
    background: var(--hover-color);
    padding: .6rem;
    border-radius: 5px;
 
  }
 
  footer a{
    font-size: 1rem;
    color: var(--secon-bg-color);
  }
